@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root 
{
	--percentage: 50%;
}

*
{
	box-sizing: border-box;
}

body
{
		font-family: 'Luckiest Guy', cursive;
}

h1
{
	text-align: center;
	font-size: 6rem;
	padding-top: 2rem;
    margin: 0;
	background: -webkit-linear-gradient(#5C2B93, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.weapons
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4rem;
	margin: 2.8rem;
}

@media screen and (max-width: 1024px) 
{
	.weapons
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		margin: 1rem;
	}
	.modal .title .tags
	{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 600px) 
{
	.weapons
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2rem;
		margin: 1rem;
	}

	h1
	{
		font-size: 4rem;
	}

	.modal .title .tags
	{
		grid-template-columns: repeat(2, 1fr);
	}
}