@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root 
{
	--percentage: 50%;
}

*
{
	box-sizing: border-box;
	font-family: 'Luckiest Guy', cursive;
}

h1
{
	text-align: center;
	font-size: 6rem;
	padding-top: 2rem;
    margin: 0;
	background: -webkit-linear-gradient(#5C2B93, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.weapons
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4rem;
	margin: 4rem;
}

.weapon
{
	width: 27vw;
	height: 40vh;
    max-width: 550px;
    max-height: 330px;
	border-radius: 2rem;
	position: relative;
	padding: 1rem 2rem;
	background-color: #333333;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	will-change: box-shadow,transform;
	transition: all .3s;
	cursor: pointer;
	justify-self: center;
}

.weapon::before 
{
    content: "";
    position: absolute;
    width: 30vw;
    height: 12vh;
    opacity: 0.2;
    top: 85%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-image: url(static/Fortnite-Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.weapon img
{
	justify-self: center;
	align-self: center;
	width: 100%;
	min-width: 87px;
}

.weapon .weapon-data
{
	justify-self: center;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.weapon .weapon-data .name , .weapon .weapon-data .demege
{
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0.4rem auto;
}

.common
{
	box-shadow: 0 0 20px 1px #6A6A6A;
	background: radial-gradient(#bbbbbb, #6A6A6A);
}

.uncommon
{
	box-shadow: 0 0 20px 1px #1C5817;
	background: radial-gradient(#79bd46, #1C5817);
}

.rare
{
	box-shadow: 0 0 20px 1px #164987;
	background: radial-gradient(#27A8E6, #164987);
}

.epic
{
	box-shadow: 0 0 20px 1px #5C2B93;
	background: radial-gradient(#b161e6, #5C2B93);
}

.legendary
{
	box-shadow: 0 0 20px 1px #813E1D;
	background: radial-gradient(#f09a37, #813E1D);
}

/* modal */

.modal
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 70vw;
	height: 92vh;
	max-width: 1200px;
    max-height: 770px;
	background-color: #ffffff;
	z-index: 999;
	border-radius: 2rem;
    animation: pull-up-center .3s ease-out both;
}

.overlay
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}

.modal .exit-modal
{
	display: block;
	background: none;
	border: none;
    font-size: 1.7rem;
    margin: 0.8rem;
}

.modal .exit-modal:focus
{
	outline: none;
}

.modal .title
{
	text-align: center;
}

.modal .title .name
{
	margin-top: 0;
    font-size: 2rem;
}

.modal .title .weapon-img
{
	width: 18%;
	position: fixed;
	z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

.modal .title .tags
{
	width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.modal .title .tag
{
	background-color: rgba(255,255,255,0.2);
    font-size: 0.8rem;
	padding: 0.6rem;
	margin: 0.5rem;
	border-radius: 2rem;
}

.modal .data
{
	background-color: #eeeeee;
	width: 99%;
    height: 56%;
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: inherit;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.modal .data .tabs
{
    display: flex;
    /* align-content: space-around; */
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    border-bottom: 2px solid rgba(0,0,0,0.5);
}

.modal .data .tabs .tab
{
    display: block;
    padding: 1rem;
    cursor: pointer;
    position: relative;
}

.modal .data .tabs .active::after
{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    top: 100%;
    margin-top: -.5px;
    left: 0;
    position: absolute;
    background-color: #6c79db;
}

.modal .data .info
{
	width: 90%;
	margin: 1rem auto;
	
}

/* stats */
.stats table
{
	margin: auto;
    width: 99%;
}

.stats .stat-key
{
    width: 27%;
}

.stats .stat-value
{
	width: 6%;
	padding-left: 0.5rem;
}

.stats .div-stat-range
{
	width: 100%;
}

.stats .div-stat-range
{
	vertical-align: inherit;
	width: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10rem;
    overflow: hidden;
    height: 5px;
    margin: 0px 6px;
    position: relative;
    display: inline-block;
}

.stats .div-stat-range::after
{
	content: '';
	vertical-align: inherit;
	width: var(--percentage);
    background-color: #5bc686;
    border-radius: 10rem;
    overflow: hidden;
    height: 5px;
	position: absolute;
	animation: fill .3s backwards;
}

@keyframes fill
{
    from { width: 0; }
}

@media screen and (max-width: 1024px) 
{
	.weapons
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		margin: 1rem;
	}

	.weapon 
	{
		width: 40vw;
		height: 55vh;
		max-height: 220px;
	}

	.modal .title .tags
	{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 600px) 
{
	.weapons
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2rem;
		margin: 1rem;
	}

	.weapon 
	{
		width: 85vw;
		max-width: 330px;
	}

	h1
	{
		font-size: 4rem;
	}

	.modal .title .tags
	{
		grid-template-columns: repeat(2, 1fr);
	}
}